.profile__edit-button {
    padding: 0;
    background: transparent;
    border: none;
    margin-left: 18px;
    height: 24px;
}

@media screen and (max-width: 620px) {
    .profile__edit-button {
        margin: 0 -20px 0 10px;
        height: 18px;
    }
}