.popup__description-field {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 43px;
    color: #000000;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /*padding: 30px 0 13px;*/
    padding: 0;
    margin: 6px 0 0;
}

.popup__description-field::-webkit-input-placeholder {
    color: #000000;
}

.popup__description-field::-moz-placeholder {
    color: #000000;
}

.popup__description-field::-ms-input-placeholder {
    color: #000000;
}

.popup__description-field::placeholder {
    color: #000000;
}

@media screen and (max-width: 767px) {
    .popup__description-field {
        /*padding: 14px 0 0; Расстояние между нижними кромками полей в форме 57px - line-height = 14px*/
        margin-top: 14px;
    }
}