.header__logo {
    width: 142px;
    height: 33px;
}

.header__logo:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 104px;
        height: 25px;
        padding-left: 27px;
    }
}