.elements__trash {
    width: 18px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0px;
}

.elements__trash:hover {
    opacity: 0.6;
}