.profile__description {
    margin: 0;
    padding-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    /*max-width: calc(100% - 60px);*/
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 703px) {
    .profile__description {
        padding-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

@media screen and (max-width: 620px) {
    .profile__description {
        padding-left: 0;
    }
}