.popup__close-icon {
    transform: rotate(-45deg);
    width: 40px;
    height: 40px;
    /*margin-left: 470px;*/
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close-icon {
        width: 26px;
        height: 26px;
        right: 0px;
    }
}